# npm
node_modules/
package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# TypeScript cache
*.tsbuildinfo


# npm cache directory
.npm

# eslint cache
.eslintcache

# stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/


# Output of 'npm pack'
*.tgz

# Yarn
.yarn-integrity
yarn.lock
yarn-error.log

# dotenv environment variable files
.env

# IDE files
**/.vscode/*
.idea
